<div class="col-md-6">
    <h2 class="text-center">New calculation</h2>
    <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
      
        <div class="form-group">
           
            <input formControlName="calculationid"  name="calculationid" class="form-control" id="calculationid">
          </div>
      <div class="form-group">
        
        <input formControlName="number1" placeholder="Number 1" name="number1" class="form-control" id="number1">
      </div>
  
      <div class="form-group">
       
        <input formControlName="number2" placeholder="number 2" name="number2" class="form-control" id="number2">
      </div>
     
    <div class="form-group">
     
        <select class="form-control" id="operation">
          <option>addition</option>
          <option>substraction</option>
          <option>multiplication</option>
          <option>division</option>
        
        </select>
      </div>
    <div class="form-group">
      <label formControlName="result" for="Result"> Result :</label>
    </div>
      <button class="btn btn-success">Update</button>
    </form>
  </div>